<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- This tells IIS to use iisnode for Node.js requests -->
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>

        <iisnode watchedFiles="web.config;*.js;*.json" maxConcurrentRequestsPerProcess="5000" />
        
        <!-- Optionally: Redirect to index page -->
        <rewrite>
            <rules>
                <rule name="Node.js">
                    <match url="(.*)" />
                    <action type="Rewrite" url="server.js/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
